.alineacionProductos {
    width: 90%;
    text-align: left;
    margin: 20px auto;

    h2 {
        font-size: 25px;
        font-weight: 400;
        text-align: center;
        background-color: var(--color-fondo-seccion);
        padding: 10px;
        border-radius: 5px;
    }

    .contenedorProductos {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin: 10px 15px 15px 15px;

        .item {
            width: calc(100% / 5 - 20px);
            padding: 10px;
            background-color: #FFFFFF;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;

            &:hover {
                transform: translateY(-5px);
            }

            img {
                width: 80%;
                height: auto;
                display: block;
                margin: 0 auto;
                border-radius: 5px;
            }

            h3 {
                font-size: 18px;
                font-weight: 600;
                margin: 5px 0;
            }

            p {
                text-align: left;
            }

            .nombre {
                font-size: 16px;
                font-weight: 400;
                color: var(--color-texto-nombre);
            }

            .precio {
                font-size: 14px;
                font-weight: 400;
                color: var(--color-texto-precio);
            }
        }
    }
}