form {
    display: flex;
    align-items: center;
    gap: 10px;

    input[type="email"] {
        padding: 10px;
        width: 100%;
        border: 1px solid var(--color-borde-input);
        border-radius: 5px;
        transition: border-color 0.3s;
    }

    input[type="email"]:focus {
        border-color: var(color-hover);
        outline: none;
    }

    button[type="submit"] {
        padding: 10px 10px;
        background-color: #ee99ac;
        border: none;
        border-radius: 5px;
        color: #FFF;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s;

        button:hover,button:focus {
            background-color: #6B6B6B;
        }
    }
}