.item {
    width: calc(100% / 5 - 20px);
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.item:hover {
    transform: translateY(-5px);
}

.item img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.item h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0;
}

.item p {
    text-align: left;
}

.item .nombre {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-texto-nombre);
}

.item .precio {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-texto-precio);
}