footer{
    background-color: var(--color-fondo-seccion);
    margin-top: 10px;
    padding: 20px 0;

    .footerContenedor {
        max-width: 95%;
        margin: 0 auto;

        .footerRow {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;

            .footerCol {
                flex: 1;
                max-width: 33%;
                padding: 5px;

                h2 {
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 14px;
                    color: var(--color-texto-general);
                }
            }
        }
    }

    .footerFinal {
        font-size: 12px;
        color: var(--color-texto-general);
        text-align: left;
        padding-top: 20px;
    }
} 