.carrusel {
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
    height: auto;
}

.carrusel ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
    margin-bottom: 20px;
}

.carrusel ul li {
    width: 100%;
    list-style: none;
}

.carrusel ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }
    50% { margin-left: -200%; }
    70% { margin-left: -200%; }
    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}