:root{
    --color-fondo-pagina: #FFFDEC;
    --color-fondo-seccion: #f7ced7;
    --color-hover: #FF9999;
    --color-texto-precio: #222;
    --color-texto-nombre: #555;
    --color-texto-general: #333;
    --color-borde-input: #ccc;
    --color-borde-cajas: #eee;
    --color-texto-negro: #000000;
}

